{% extends "base.html" %}
{% block content %}

  <br>
  <br>
  <div class='row'>
    <div class='col s10 center offset-s1'>
      The Github Repository for the Project can be found <a href="https://github.com/sundeshgupta/Corpus-abstractive-text-summarization">here</a>.
      <br>
      <br>
      The datasets used can be found as follows.
      <ul>
        <li><a href="https://www.tensorflow.org/datasets/catalog/gigaword"> GIGAWORD </a></li>
        <li><a href="https://www.tensorflow.org/datasets/catalog/cnn_dailymail"> CNN DAILYMAIL </a></li>
        <li><a href="https://github.com/sundeshgupta/Corpus-abstractive-text-summarization/blob/master/DataSet/freepressjournal.xml"> FREEPRESSJOURNAL </a></li>
        <li><a href="https://github.com/sundeshgupta/Corpus-abstractive-text-summarization/blob/master/DataSet/HindustanTimes1.xml"> HINDUSTAN TIMES </a></li>
      </ul>
    </div>
  </div>

{% endblock %}